h1 {
    @media (min-width: $md) {
    }
    @media (min-width: $xl) {
    }
}

h2 {
    @media (min-width: $md) {
    }
    @media (min-width: $xl) {
    }
}

a {
    display: block;
    border: none;
    outline: none;
    box-shadow: none;
}
