<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta property="og:title" content="Title placeholder" />
        <meta property="og:description" content="Description placeholder" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="../images/share-img.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <link rel="icon" type="image/png" href="images/favicon.ico" />
        <title>Project Name</title>
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css" />
        <link rel="stylesheet" href="/styles/style.min.css" />

        <!-- Consent V2 -->
        <!-- Add script here -->
        <!-- End Consent V2 -->

        <!-- Google Tag Manager -->
        <!-- Add script here -->
        <!-- End Google Tag Manager -->

        <!-- Google tag (gtag.js) -->
        <!-- Add script here -->
        <!-- End Google tag (gtag.js) -->

        <!-- Meta Pixel  -->
        <!-- Add script here -->
        <!-- End Meta Pixel  -->

        <!-- TikTok Pixel -->
        <!-- Add script here -->
        <!-- End TikTok Pixel  -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <!-- Add script here -->
        <!-- End Google Tag Manager (noscript) -->

        {% block content %}{% endblock %}
        <script>
            let absolutePath = "../images";
            window.endpointForm = "";
        </script>

        <script src="/scripts/bundle.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/additional-methods.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
        <script async src="https://www.google-analytics.com/analytics.js"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>

        <script src="/scripts/main.min.js"></script>
    </body>
</html>
