<div class="modal fade message-modal" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-wrapper">
                    <img class="icon" src="images/modals/corect.svg" alt="icon" />
                    <div class="response"></div>
                    <a href="#" class="close-modal">
                        <img src="images/icon-close.png" alt="icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
