<div class="modal fade receipt-modal d-xl-none" id="receiptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="receipt-image info-receipt" src="images/bonuri/Kaufland.png" alt="auchan" width="323" height="631" />
                <a class="close-modal">
                   <img src="images/icon-close.png" alt="icon">
                </a>
            </div>
        </div>
    </div>
</div>
